<header id="{{ sectionId }}" section-id="{{ sectionId }}" class='header-nav {% if transparent_header %}bg-header-transparent{% endif %}' id="fixed-header">

  {% include 'vitrin:shared/store_messages.jinja' %}
  {% set ab_settings=settings %}{% include 'components/header-announcement-bar.jinja' %}
  {% set multiple_countries = store.countries | length > 1 %}
  {% set multiple_languages = store.languages | length > 1 %}

  <div class="bg-header">
    <div class="container">
      {% set header_settings=settings %}{% include 'components/header-search-header.jinja' %}
    </div>
  </div>

  {% set menu_settings=settings %}{% include 'components/header-sliding-menu.jinja' %}

  <aside data-empty="{{ _('Empty cart') }}" class="offcanvas offcanvas-end block-side-cart" tabindex="-1" id="side-cart" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">{{ _("cart content") }}</h5>

      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" color="#000000" fill="none"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 6L6.00081 17.9992M17.9992 18L6 6.00085" />
        </svg>
      </button>
    </div>

    <div class="offcanvas-body">
      <div class="cart-list">
        <div class="empty-cart-box" id="additional-cart"></div>
        <ul class="item-inside-cart show side-cart-items d-none"></ul>
      </div>

      <div class="loading-cart">
        <span class="loader-cart"></span>
      </div>

      <div class="mt-auto footer-side-cart d-none w-100">
        <ul class="cart-side-totals" id="cart-side-totals"></ul>

        <div class="btn-side-cart">
          <a class="tp-btn tp-btn-primary-outline" href="/cart/view">{{ _("Cart") }}</a>

          <a zid-visible-customer="true" href="/checkout/choose-address-and-shipping" class="tp-btn tp-btn-primary">
            {{ _("Complete Order") }}
          </a>

          <a zid-visible-guest="true" href="/auth/login?redirect_to=/checkout/choose-address-and-shipping"
            class="tp-btn tp-btn-primary">
            {{ _("Complete Order") }}
          </a>
        </div>
      </div>
    </div>
  </aside>
</header>