{% set ver = '0.1.037' %}
<!doctype html>

<html class="no-js" lang="{{ session.lang }}" dir="{{ session.locale.language.direction }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% vitrin_head %}

  
  {% if settings.header_logo %}
    {% set logoUrl = settings.header_logo %}
  {% else %}
    {% set logoUrl = store.logo %}
  {% endif %}
  {% if settings.header_logo_mobile %}
    {% set logoUrlMobile = settings.header_logo_mobile %}
  {% elif store.settings.branding.mobile_app_logo %}
    {% set logoUrlMobile = store.settings.branding.mobile_app_logo %}
  {% endif %}

  {% set header_logo = settings.general_header_logo %}
  {% set footer_logo = settings.general_footer_logo %}
  {% set hide_loader = settings.loading_page_hide_loader %}
  {% set products_banner = settings.categories_banners_products_banner %}
  {% set banner_list = settings.categories_banners_categories_list %}
  {% set lens_title = settings.single_product_title %}
  {% set lens_url = settings.single_product_url %}
  {% set product_price_default_label = settings.single_product_product_price_default_label %}
  {% set lens_color_price_label = settings.single_product_lens_color_price_label %}
  {% set lens_detail_price_label = settings.single_product_lens_detail_price_label %}
  {% set package_price_label = settings.single_product_package_price_label %}
  {% set total_price_label = settings.single_product_total_price_label %}
  {% set branches_list = settings.branches_page_branches %}
  {% set hide_Popup = settings.Popup_hide_Popup %}
  {% set hide_Popup_cart = settings.Popup_cart_hide_Popup_cart %}
  {% set Popup = settings.Popup_Popup_list %}
  {% set Popup_cart = settings.Popup_cart_Popup_list %}

  <link rel="preload" as="image"
        href="{{ image_url(logoUrl, h=175, q=100) }}"
        media="(min-width: 992px)">

  {% if logoUrlMobile %}
    <link rel="preload" as="image"
          href="{{ image_url(logoUrlMobile, h=175, q=100) }}"
          media="(max-width: 991px)">
  {% else %}
    <link rel="preload" as="image"
          href="{{ image_url(logoUrl, h=175, q=100) }}"
          media="(max-width: 991px)">
  {% endif %}
        
    
    <link rel="shortcut icon" type="image/jpg" href={{ store.icon }}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        :root {
            --primary-color: {{store.settings.branding.colors.primary}};
            --text-color-primary-bg: {{store.settings.branding.colors.on_primary}};
            --primary-color-op-5: {{store.settings.branding.colors.primary}}0c;
            --sub-primary-color: #521B25;
            --white-color: #fff;
            --warning-color:  #FFCF57;
            --danger-color:  #EC5550;
            --sucess-color:  #5AA788;
            --black-color:  #0000;
            --secondary-color: #DEDEDE;
            --secondary-color-alt0:  #6B6B6B;
            --secondary-color-alt1:  #5A5A5A;
            --secondary-color-alt2:  #EFEFEF;
            --secondary-color-alt3:  #494949;
            --secondary-color-alt4:  #D9D9D9;
            --secondary-color-alt5:   #E8E8E8;
            --secondary-color-alt6:   #8B8B8B;
            --secondary-color-alt7: #ebebeb;
            --secondary-color-alt8: #484848;
            --secondary-color-alt9: #A8A8A8;
            --secondary-color-alt10: #4A4A4A;
            --secondary-color-alt11: #606060;
            --secondary-color-alt12: #767676;
            --secondary-color-alt13: #F8F8F8;

            --font-weight-sizeOne: 400;
            --font-wieght-sizeTwo: 700;
            --font-wieght-sizeThree: 600;

            --font-size-forteen: 1.167;
            --font-size-sixteen: 1.333;
            --font-size-eighteen: 1.5;

            --main-slider-height: 471.43px;
            --main-slider-sm-height: 115px;

            --bs-dropdown-min-width: 12rem;
            
            --heart-outlined-icon: url('{{ "heart-outlined.svg" | asset_url }}');
            --heart-filled-icon: url('{{ "heart-filled.svg" | asset_url }}');
        }

        @font-face {
          font-family: 'icomoon';
          src:  url('{{ 'icomoon.eot?d668y32' | asset_url }}');
          src:  url('{{ 'icomoon.eot?d668y32#iefix' | asset_url }}') format('embedded-opentype'),
          url('{{ 'icomoon.woff2?d668y32' | asset_url }}') format('woff2'),
          url('{{ 'icomoon.ttf?d668y32' | asset_url }}') format('truetype'),
          url('{{ 'icomoon.woff?d668y32' | asset_url }}') format('woff'),
          url('{{ 'icomoon.svg?d668y32#icomoon' | asset_url }}') format('svg');
          font-weight: normal;
          font-style: normal;
          font-display: block;
        }
    </style>
    
    <link rel="stylesheet" href="{{ 'icomoon.css?v=1.0.2' | asset_url }}" media="print" onload="this.media='all'">

    <noscript>
      <link rel="stylesheet" href="{{ 'icomoon.css?v=1.0.2' | asset_url }}">
    </noscript>

    {% if session.lang == 'ar' %}
        <link rel="stylesheet" type="text/css" href="{{ 'bootstrap-rtl.css?v=1.05' | asset_url }}" />
        <link rel="stylesheet" type="text/css" href="{{ 'main-rtl.css' | asset_url }}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ 'bootstrap.min.css?v=1.01' | asset_url }}" />
        <link rel="stylesheet" type="text/css" href="{{ 'main-ltr.css' | asset_url }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{{ 'mmenu.min.css' | asset_url }}" />

    <link rel="stylesheet" type="text/css" href="{{ 'bootstrap-fixes.css?v=1.11' | asset_url }}" />

    <link rel="stylesheet" type="text/css" href="{{ 'jquery-ui.min.css' | asset_url }}"  />
    <link rel="stylesheet" type="text/css" href="{{ 'jquery-ui.structure.min.css' | asset_url }}"  />
    <link rel="stylesheet" type="text/css" href="{{ 'jquery-ui.theme.min.css' | asset_url }}"  />

    <link rel="stylesheet" type="text/css" href="{{ 'swiper-bundle.min.css' | asset_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'slide-menu.css' | asset_url }}" />

    <link rel="stylesheet" type="text/css" href="{{ 'slide-menu-style.css?v=1.16' | asset_url }}" />

    <link rel="stylesheet" href="{{ ('main.css?v=' ~ ver) | asset_url }}" />

    <link rel="stylesheet" type="text/css" href="{{ 'custom.css?v=1.148' | asset_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'responsive.css' | asset_url }}" />

    {% if session.lang == 'ar' %}
        <link rel="stylesheet" href="{{ 'main.rtl.css?v=1.25' | asset_url }}">
    {% endif %}

    {% block top_links %}{% endblock %}

  {% if user_custom_css %}
    <link rel="stylesheet" href="{{ user_custom_css }}">
  {% endif %}

</head>

<body class="{{ session.locale.language.direction }}" data-template="{{ session.template }}"
    {% if template == 'category' and category is not none %} data-category-id="{{ category.id }}" {% endif %}>

{% if store.editing_mode %}
  <link href="https://fonts.googleapis.com/css2?family={% if settings.fonts_name %}{{ settings.fonts_name }}{% else %}Changa{% endif %}:wght@300;400;500;700&display=swap" rel="stylesheet">
{% endif %}

<style>
  :root {
			{% if settings.colors_header_background_color %}
				--header-primary-color: {{settings.colors_header_background_color}};
			{% endif %}
			{% if settings.colors_header_menu_background_color %}
				--menu-header-primary-color: {{settings.colors_header_menu_background_color}};
				--header-primary-brightness: brightness(100%);
			{% elif settings.colors_header_background_color %}
				--menu-header-primary-color: {{settings.colors_header_background_color}};
				--header-primary-brightness: brightness(80%);
			{% endif %}
			{% if settings.colors_header_menu_text_color %}
				--menu-header-text-color-primary-bg: {{settings.colors_header_menu_text_color}};
			{% elif settings.colors_header_text_color %}
				--menu-header-text-color-primary-bg: {{settings.colors_header_text_color}};
			{% endif %}
			{% if settings.colors_header_text_color %}
				--header-text-color-primary-bg: {{settings.colors_header_text_color}};
			{% endif %}
			{% if settings.colors_footer_background_color %}
				--footer-primary-color: {{settings.colors_footer_background_color}};
			{% endif %}
			{% if settings.colors_footer_text_color %}
				--footer-text-color-primary-bg: {{settings.colors_footer_text_color}};
			{% endif %}
      {% if settings.colors_bottom_menu_background_color %}
          --bottom-menu-background-color: {{ settings.colors_bottom_menu_background_color }};
      {% else %}
          --bottom-menu-background-color: #ffffff;
      {% endif %}
      {% if settings.colors_bottom_menu_text_color %}
          --bottom-menu-text-color: {{ settings.colors_bottom_menu_text_color }};
      {% else %}
          --bottom-menu-text-color: #000000;
      {% endif %}
      {% if settings.colors_background_background_color %}
          --body_background_color: {{ settings.colors_background_background_color }};
      {% else %}
          --body_background_color: #fff;
      {% endif %}
      {% if settings.loading_page_background_color %}
          --loader_background_color: {{ settings.loading_page_background_color }};
      {% else %}
          --loader_background_color: #fff;
      {% endif %}
      {% if settings.colors_header_background_color_catg_menu %}
          --background_color_catg_menu: {{ settings.colors_header_background_color_catg_menu }};
      {% else %}
          --background_color_catg_menu: #fff;
      {% endif %}
      {% if settings.colors_header_text_color_catg_menu %}
          --text_color_catg_menu: {{ settings.colors_header_text_color_catg_menu }};
      {% else %}
          --text_color_catg_menu: #000;
      {% endif %}
		}
</style>

{% block top_body %}
  {% if not hide_loader %}
    <div class="loader-container" id="loader-container">
      <div class="loader-box">
        {% set logoUrl = store.logo %}
        <div class="logo-lodaer-box" style="background-image: url('{{ logoUrl }}')"></div>
      </div>
    </div>
  {% endif %}
{% endblock %}

<div class="container relative outer-container">
  <div class="outer-left">
      <div class="inner"></div>
      <span></span>
  </div>

  <div class="outer-right">
      <div class="inner"></div>
      <span></span>
  </div>
</div>

<div class="header-icons">
	{% if not ('hide_search_bar' in header_settings.header_options) %}
		<div class="search-box circle-icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
				<path d="M17.5 17.5L22 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20C15.9706 20 20 15.9706 20 11Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
			</svg>
		</div>
	{% endif %}
	<div class="cart-btn circle-icon">
		<a href="/cart/view" role="button" aria-label="cart">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="24" height="24" color="#000000" fill="none">
				<path d="M3.87289 17.0194L2.66933 9.83981C2.48735 8.75428 2.39637 8.21152 2.68773 7.85576C2.9791 7.5 3.51461 7.5 4.58564 7.5H19.4144C20.4854 7.5 21.0209 7.5 21.3123 7.85576C21.6036 8.21152 21.5126 8.75428 21.3307 9.83981L20.1271 17.0194C19.7282 19.3991 19.5287 20.5889 18.7143 21.2945C17.9 22 16.726 22 14.3782 22H9.62182C7.27396 22 6.10003 22 5.28565 21.2945C4.47127 20.5889 4.27181 19.3991 3.87289 17.0194Z" stroke="currentColor" stroke-width="1.5"/>
				<path d="M17.5 7.5C17.5 4.46243 15.0376 2 12 2C8.96243 2 6.5 4.46243 6.5 7.5" stroke="currentColor" stroke-width="1.5"/>
			</svg>
			<span class="cart-badge">0</span>
		</a>
	</div>
</div>

<div class="app d-flex flex-column visible">
    <div class="header">
        {% block header %}{% endblock %}
    </div>

    <div class="main flex-grow-1 app-content">
        {% block main_content %}{% endblock %}
    </div>

    <div class="footer">
        {% block footer %}{% endblock %}
    </div>

    {% block footer_sticky %}{% endblock %}
</div>

<script>
    window.appDirection = '{{ session.locale.language.direction }}';
</script>

<script src="{{ 'jquery-3.6.0.min.js?v=1.0.0' | asset_url }}"></script>

<script src="{{ 'jquery-ui.min.js' | asset_url }}"></script>

<script src="{{ 'popper.min.js?v=1.0' | asset_url }}"></script>
<script src="{{ 'bootstrap.min.js' | asset_url }}"></script>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
<script src="{{ 'slide-menu.ie.js?v=1.06' | asset_url }}"></script>

<script type="text/javascript" src="{{ 'mmenu.js' | asset_url }}"></script>

<script type="text/javascript" src="{{ ('main.js?v=' ~ ver) | asset_url }}" defer></script>
<script type="text/javascript" src="{{ ('side-cart.js?v=' ~ ver) | asset_url }}" defer></script>
<script type="text/javascript" src="{{ ('bundle-offers.js?v=' ~ ver) | asset_url }}" defer></script>

{% vitrin_body %}

{% if session.template not in ['product_details', 'cart_page', 'page_details'] and safeget(store, "settings.checkout.is_loyalty_enabled", False) %}

    <script>
        var loyalty_button_direction = "{{ session.language.direction }}";
        var text_loyalty_rewards = '{{ _('Rewards') }}';
        var text_loyalty_options = '{{ _('For {points} get a discount {percentage}') }}';
        var store_currency_code = '{{ session.currency }}';
    </script>

    <script type='text/javascript' src="{{ ('layout_loyalty_points.js?v=' ~ ver) | asset_url }}"></script>

{% endif %}

{% if not hide_loader %}
<script>
	addEventListener("DOMContentLoaded", (event) => {
		const loader = document.getElementById('loader-container');
		if (loader) {
			loader.remove();
		}
	});
</script>
{% endif %}

{% block footer_scripts %}{% endblock %}

{% include "vitrin:shared/region_settings_dialog.jinja" %}

<script>
  window.zidOpenRegionSettingDialog = () => { region_settings_dialog.open() }
</script>

</body>

</html>
