<div class="header-box">
    <div class="right-box">
        <div class="d-flex align-items-center gap-3">
            <div class="menu-btn" onclick="openSlidingMenu()">
                <div class="menu-box">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="left-box">
        <a href="/">
            {% set logoUrl = store.logo %}
            <img loading="lazy" class="main-logo" width="180" height="42" src="{{ image_url(logoUrl, h=175, q=100) }}"
                alt="{{ store.name }}">

            {% if header_logo is defined and header_logo is not none %}
            <img loading="lazy" class="another-logo" width="180" height="42"
                src="{{ image_url(header_logo, h=175, q=100) }}" alt="{{ store.name }}">
            {% endif %}
        </a>
    </div>
</div>