{% if settings.announcement_bar_display %}
{% if not (settings.announcement_bar_page_display)
or (template == 'home' and settings.announcement_bar_page_display == 'home')
or settings.announcement_bar_page_display == 'all'
%}

<div class="announcement-bar {% if settings.announcement_bar_stop_move %}stop-move{% endif %}"
    style="z-index: 4; {% if settings.announcement_bar_background_color %}background: {{ settings.announcement_bar_background_color }}{% endif %};">
    <div class="tp-mask">
        <div class="tp-marquee">
            {% for item in settings.announcement_bar_advertisement_bar %}
            <a href="{{ item.url }}" style="{% if item.text_color %}color: {{ item.text_color }}{% endif %}">
                {% if item.image %}
                <img src="{{ image_url(item.image, h=50) }}" alt="icon">
                {% endif %}
                {{ item.text }}
            </a>
            {% endfor %}
            {# Repeating items for infinite scroll effect if animation is active #}
            {% if not settings.announcement_bar_stop_move %}
            {% for item in settings.announcement_bar_advertisement_bar %}
            <a href="{{ item.url }}" style="{% if item.text_color %}color: {{ item.text_color }}{% endif %}">
                {% if item.image %}
                <img src="{{ image_url(item.image, h=50) }}" alt="icon">
                {% endif %}
                {{ item.text }}
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <span class="icon-times-circle2 ab-close" onclick="hideAnnouncementBar()"></span>
</div>

<script>
    function hideAnnouncementBar() {
        document.querySelector('.announcement-bar').style.display = 'none';
    }
</script>
{% endif %}
{% endif %}